<nav>
    <h1 id="logo">Reci-please!</h1>
    <a href="/ingredients">My Ingredients</a>
    <a href="/recipes">My Recipes</a>
    <a href="/recipes/all">All Recipes</a>
    <form action="/sessions/?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</nav>