
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title><%= TITLE %></title>
  </head>
  <body>
    <%- include(page) %> 
       
            
    
    
    <div id=main-content>
        <div id="left"></div>
        <div id="main"><%- body %></div>
        <div id="right"></div>
    </div>  
  </body>
</html>