<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% ingredients.forEach(ingredient => { %>
            <li>

            <form action="/ingredients/remove/user/<%= ingredient._id %>?_method=PUT" method="POST" id="removeIngredient">
                <input type="submit" value="<%= ingredient.name %>" />
            </form>

        </li>
        <% }) %>
    </ul>
    <form action="/ingredients/add/user?_method=PUT" method="POST" id="addIngredient">
        <input type="text" name="addedIngredient" />
        <input type="submit" value="Add Ingredient" />
    </form>

    
</body>
</html>