<a href="/ingredients">X</a>
<div class="alert">
    
    <p><%= ingredient %> not found. Add to our database?</p>
    <form action="/ingredients" method="POST">
        <input type="text" name="name" value="<%= ingredient %>"  style="display:none;"/>
        <input type="submit" value="Yes">
    <form>
    
</div>
