<div class="alert">
      <h1>Log In</h1>
      <form action="/sessions" method="POST">
        <input type="text" name="username" placeholder="User Name" required/>
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Submit">
      <form>

        <br><br><a href="/users/new">New User?</a>
 </div>