   
   <h1>Recipes</h1>
   <div id="recipe-index">
    <% recipes.forEach(recipe => { %>
       
            <p><a class="recipe" href="/recipes/<%= recipe._id %>"><%= recipe.title%> by <%= recipe.creator %></a></p>
     
    <% }) %>
    </div>

    <a id="return-btn" href="/ingredients">Return</a>
    